* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(100vw / 1920 * 10);
  width: 100%;
  height: 100%;
}

body {
  background: #0c0c0c;
  color: #fff;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// .demo-1 {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   z-index: 1;
// }

.demo-1__gallery {
  height: 295rem;
  position: relative;
  overflow: hidden;
}

.demo-1__gallery__figure {
  position: absolute;

  &:nth-child(1) {
    height: 40rem;
    width: 70rem;
  }

  &:nth-child(2) {
    top: 30rem;
    left: 85rem;
    height: 50rem;
    width: 40rem;
  }

  &:nth-child(3) {
    top: 60rem;
    left: 15rem;
    height: 50rem;
    width: 60rem;
  }

  &:nth-child(4) {
    top: 10rem;
    right: 0;
    height: 30rem;
    width: 50rem;
  }

  &:nth-child(5) {
    top: 55rem;
    right: 15rem;
    height: 60rem;
    width: 40rem;
  }

  &:nth-child(6) {
    top: 120rem;
    left: 5rem;
    height: 75rem;
    width: 57.5rem;
  }

  &:nth-child(7) {
    top: 130rem;
    right: 0;
    height: 70rem;
    width: 50rem;
  }

  &:nth-child(8) {
    top: 95rem;
    left: 85rem;
    height: 50rem;
    width: 40rem;
  }

  &:nth-child(9) {
    top: 155rem;
    left: 75rem;
    height: 65rem;
    width: 50rem;
  }

  &:nth-child(10) {
    top: 215rem;
    right: 0;
    height: 43rem;
    width: 30rem;
  }

  &:nth-child(11) {
    top: 235rem;
    left: 70rem;
    height: 50rem;
    width: 80rem;
  }

  &:nth-child(12) {
    top: 210rem;
    left: 0;
    height: 70rem;
    width: 50rem;
  }
}

.demo-1__gallery__image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
